<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List addresses</title>
  <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body class="list">
<div>
  <div class="center">
    <button class="point" onclick="location.href='../index'">Back to Index</button>
  </div>
  <h3 class="center">-------------------- Currently added email addresses --------------------</h3>
  <ul>
    <li th:each="email: ${emailList}">
      <span th:text="${email.getEmailAddress()}"></span>
    </li>
  </ul>
  <br>
</div>
</body>
</html>